#chatroom{
    overflow-y: auto;
    height: 400px;
    position: relative;
    margin: 0px auto;
    background-color: cornflowerblue;
}
#btn_send{
    position: relative;
    margin: 0px auto;
    top: 500px;
}