#btn_signout{
    cursor: pointer;
}
.input-group{
    position: relative;
    margin: 0px auto;
}
#create_room_div{
    position: relative;
    top: 200px;
}
#select_room_div{
    position: relative;
    top: 250px;
}
#welcome{
    position: relative;
    top: 150px;
    margin: 0px auto;
    color: #444444;
background:transparent;
font-size: 40px;
text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}